.fab {
  border-radius: 50%;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  transition: transform 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.fab:hover {
  transform: scale(1.1);
}
.fab:active {
  transform: scale(1.1);
}
